<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<ol>
  <li>
    <button (click)="connect()">connect</button>
  </li>
  <li>
    <select [(ngModel)]="selectedCommand" name="command">
      <option value="" selected></option>
      <option *ngFor="let c of commands" [ngValue]="c">
        {{c.titel}}
      </option>
    </select>
  </li>
  <li>
    <span>Response was:</span>
    <ul>
      <li *ngFor="let r of commandResponse">
          {{r}}
      </li>
    </ul>
  </li>
  <li>
    <button [disabled]="!isConnected" (click)="sendCommand()">Execute Command</button>
  </li>
  <li>
    <button [disabled]="!isConnected" (click)="disconnect()">disconnect</button>
  </li>
</ol>

<router-outlet></router-outlet>
